.list {
  list-style: none;
}

.gallery__list {
  display: flex;
  align-items: center;

  margin-left: -30px;
  padding: 0;
}

.gallery__item {
  margin-left: 30px;
  flex-basis: calc(100% / 3 - 30px);
}

.gallery__image {
  display: block;
  max-width: 100%;
  height: auto;
}
